<div class="staggered-list-content">
  <ul class="list">
    <li
      #listItem
      *ngFor="let provider of providers; index as i"
      class="listItem"
      [class.expanded]="selectedKey === provider.key"
    >
      <ng-container *ngIf="provider.avatarUrl; else fallbackAvatar">
        <img class="avatar" [src]="provider.avatarUrl" [alt]="provider.name" />
      </ng-container>
      <ng-template #fallbackAvatar>
        <div class="avatar-fallback">{{ provider.icon || provider.name.charAt(0) }}</div>
      </ng-template>

      <div class="description">
        <span class="sr-only">{{ provider.name }} - {{ provider.description }}</span>
        <div>{{ provider.ctaIntro || 'Inicia sesión en UniDev usando' }}</div>
        <div>{{ provider.ctaDetail || provider.description }}</div>
        <div class="cta">
          <button type="button" class="btn-theme">Continuar con {{ provider.name }}</button>
        </div>
      </div>
    </li>
  </ul>
</div>
