:host {
  display: block;
}

.text-block {
  --mask: linear-gradient(-45deg, transparent 100%, black 150%);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  max-width: 800px;
}

p {
  font-family: var(--font-display);
  letter-spacing: var(--tracking-tight, -0.03em);
}
